<ion-header>
  <ion-toolbar>
    <ion-title>FAVORITE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color:#f0c5ef;padding:5px;" *ngFor="let a of globalvar.arrNotes; let i = index">
	  <div *ngIf="a.getFav() == 1" style="float:left; width:50%;">
		  {{a.getJudul()}} / {{a.getTgl()}}
		  <br/><br/>{{a.getIsi()}}
	  </div>

		<div *ngIf="a.getFav() == 1" style="float:left; width:15%;margin-left:10px;">
			<img *ngIf="a.getFav() == 1" (click)="fav(i)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/240px-Heart_coraz%C3%B3n.svg.png" style="width: 20px; height: 20px;" alt="image">

    </div>

		<div *ngIf="a.getFav() == 1" style="clear:both"></div>

		<hr *ngIf="a.getFav() == 1">

	</div>

		<br/><br/>
	<ion-row>
      <ion-col size="6">
        <ion-button (click)="GoToAdd()" size="small" color="success" fill="solid" expand="block">New Note</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="GoToDetail()" size="small" color="primary" fill="solid" expand="block">Detail Note</ion-button>
      </ion-col>
  </ion-row>
</ion-content>
